* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #777;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}

header {
    display: flex;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 3em);
    
}

header > div {
    text-align: center;
    background-color: #FBFBFB;
    padding: 1em;
    border: #E8E8E8 8px outset;
}


section {
    width: 90%;
    max-width: 1325px;
    margin: auto;
    padding: 2em;
    padding-top: 3.2em;
}

h1,
h2,
h3,
h4,
figcaption {
    color: #BA6F5F;
}

h1,
h2 {
    font-family: 'Libre Franklin', sans-serif;
   
    
}
h1 {
     font-size: 70px;
    text-align: right;
    padding-top: 0.5em;
    
}

p {
    margin: 1em 0;
    font-size: 15px;
    
}

#menu {
    width: 100%;
    z-index: 1;
    background-color: #A9D7C6;
    text-align: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   
}

#menu > ul {
    padding: 0;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
   
}

#menu > ul > li {
    list-style: none;
    padding: 1em;
    font-size: 15px;
    
}

#menu > ul > li > a {
    color: white;
    text-decoration: none;
}

#menu > ul > li > a:hover {
    color: #BA6F5F;
}

#inicio > section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;

}
#inicio > div {
    text-align: left; 
    display: flex;
    align-items: center;
    margin: 4em auto;

    
}


#inicio > div > div > ul {
    flex: 50%;
    margin: 1em 0;

}

#inicio > div > div > ul:last-child {
    margin-left: 3em;
}

#inicio > div > div.galeria2 {
    width: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    
}

#inicio > div > div.galeria2 > div {
    width: 300%;
    position: relative;
    display: flex;
    animation: slider3 10s infinite;
    
}

#inicio > div > div.galeria2 > div > figure {
    flex: 33%;
    
}
#inicio > div > div.galeria2 > div > figure > img {
    width: 100%;
    vertical-align: middle;
    

    
}

@keyframes slider3 {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    55% {
        left: -100%;
    }

    60% {
        left: -200%;
    }

    85% {
        left: -200%;
    }

    100% {
        left: 0;
    }
}

    
.galeria {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    
}
video {
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 3px;
    flex: 30%;
    padding-top: 3px;
    border-radius: 10px;
    cursor: pointer;
    
}

.galeria1 {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    
}




.galeria > figure {
    position: relative;
    padding: 3px;
    flex: 40%;
    padding-top: 3px;
    cursor: pointer;
}
.galeria1 > figure {
    position: relative;
    padding: 3px;
    flex: 30%;
    padding-top: 3px;
    cursor: pointer;
}


.galeria > figure > img {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
} 
.galeria1 > figure > img {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
}


.galeria > figure > figcaption {
    width: 100%;
    background-color: rgba(169, 215, 198, 0.9);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition-duration: 0.5;

}
.galeria1 > figure > figcaption {
    width: 100%;
    background-color: rgba(169, 215, 198, 0.9);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition-duration: 0.5s;
}

        
.galeria > figure:hover > figcaption {
    opacity: 1;
}
.galeria1 > figure:hover > figcaption {
    opacity: 1;
}


section > p > a {
    color: black;
}
footer {
   width: 100%;
   padding: 3em;
   background-color: #A9D7C6;
   text-align: center;
   position: sticky;
   top: 0;
   color: white;
   margin: 0;
    text-decoration: none;
   
}
footer > a {
    color:#BA6F5F ;
    text-decoration-line: none;
    cursor: pointer;
}
footer > p {
  color: white;
  
}
footer > p > a {
  color:#BA6F5F ; 
  text-decoration-line: none;
  cursor: pointer;
}
footer > p > a > strong {
  color:#BA6F5F ; 
  text-decoration-line: none;
  cursor: pointer;
}
footer > a > strong {
    color:#BA6F5F ;
    text-decoration-line: none;
    cursor: pointer;
}
footer > div {
    font-size: 12px;
    color: white;
    margin-top: 5em;
        
    }


@media screen and (max-width: 900px) {
    
    

    .galeria > figure {
        flex: 50%;
    }
    .galeria1 > figure {
        flex: 30%;
    }
   
     
    #menu > ul {
        max-width: 600px;
         margin: auto;
    }
  
    h1 {
        font-size: 55px;
    }
     section {
        padding: 1em;
        padding-top: 3em;
        
    }

    #inicio > div {
        flex-direction: column;
        align-items: center;
    }

    #inicio > div > div.galeria2 {
        width: 70vh;
         padding-bottom: 3em;
    }

    .galeria > figure > figcaption {
         display: none;
    }
    .galeria1 > figure > figcaption {
        display: none;
    } 
     }
    



@media screen and (max-width: 600px) {
    p {
       font-size: 12px; 
    }
    
    footer {
        font-size: 12px;
        
    }
     footer > div {
        font-size: 9px;
        
    }
    section {
        height: auto;
        padding: 1.5em;
        padding-top: 4em;
    }
   
     #inicio > div > div.galeria2 {
       width: 50vh;
         padding-bottom: 2em;
    }
   
   
    .galeria {
        max-width: 600px;
        justify-content: center;

     }
    .galeria > figure {
        flex: 100%;
        
    }
    .galeria1 {
        max-width: 600px;
        justify-content: center;

     }
    .galeria1 > figure {
        flex: 100%;
    }

    
    #menu {
    width: 100%;
    z-index: 1;
    background-color: #A9D7C6;
    text-align: center;
    position: sticky;
    top: 0;
   
}

    #menu > ul {
    padding: 0;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
   
}
    
    #menu > ul > li {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
    

    header {
    display: flex;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 3em);
    
}
    h1 {
        font-size: 40px;
    }
   
    .galeria > figure > figcaption {
         display: none;
}
    .galeria1 > figure > figcaption {
        display: none;
} 
    
 
} 

/*Maquetación de la ventana Modal*/

#modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 215, 198, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal > figure {
    max-width: 80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-height: 90%;
}

#modal > figure > img {
    display: flex;
    width: 100%;
    height: 100%;
}

#modal > figure > figcaption {
    background-color: #A9D7C6;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cerrar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat';
}

#cerrar:hover {
    color: #BA6F5F;
    cursor: pointer;
}
